<ion-header>
  <ion-navbar color="primary" no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      주보
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <img [src]="'img/' + img '"> --> 
  <img src="{{img}}">
  
  <!-- <button ion-button color="b-primary" (click)="showWeekly()">주보 목록 보기</button> -->
  <img *ngIf="img" [src]="img" (click)="showWeekly()"/>
  

  <div *ngIf="!flagGetImage" text-center>
    <ion-spinner item-start name="ios">
    </ion-spinner>
    서버에 접속 중입니다.
  </div>
</ion-content>
