page-home {
    background: color($colors, primary);
}

.back{
    background: color($colors, primary);
}
.home-image{
    margin: auto;
    width: 40%;
    padding: 40px;
    display: block;
}

.home-button{
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}
.main-header{
    background-image: url('../assets/imgs/home_back.jpg') ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #45372E;
}
.main-body{
    background-color: rgb(170, 170, 170);
    background-image: url('../assets/imgs/button-2.png') ;
    background-size: 100%;
    border-radius: 10px;
    margin:2%; 

// background: linear-gradient(to right, 
// 	                              transparent 0%, 
// 	                              transparent calc(50% - 0.81px), 
// 	                              black calc(50% - 0.8px), 
// 	                              black calc(50% + 0.8px), 
// 	                              transparent calc(50% + 0.81px), 
// 	                              transparent 100%); 
}
