page-home {
    background: color($colors, primary);
}

.back{
    background: color($colors, primary);
}
.home-image{
    margin: auto;
    width: 80%;
    padding: 40px;
    display: block;
}

.home-button{
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}
.home-grid{
    background: color($colors, primary);
    padding: 20px;
    height: 100%;
}