<ion-header>
  <ion-navbar color="primary" no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      알림 리스트
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!--     
    <div>
        <ion-row class="wrapper-sm b-b b-light" (click)="showDetail(data.serial)" *ngFor="let data of pushDataArray">
          <ion-col class="text-ellipsis-flex">
            <div class="l-h">
              <div class="font-bold text-ellipsis">{{data.title}}</div>
              <div class="text-sm text-muted">
                  {{data.body}}
              </div>
            </div>
          </ion-col>
          <ion-col col-auto>
            <div class="text-muted text-xs m-t-xs">{{data.registered_date}}</div>
          </ion-col>
        </ion-row>
      </div> -->

  <!-- <ion-row class="wrapper-sm b-b b-light" (click)="showDetail(data.serial)" *ngFor="let data of pushDataArray"> -->
  <!-- <ion-row class="wrapper-sm b-b b-light" (click)="showDetail(data)" *ngFor="let data of pushDataArray">
    <ion-col class="text-ellipsis-flex">
      <div class="l-h">
        <div class="">제목
          <strong> {{data.title}}</strong>
        </div>
        <div class="text-sm text-muted text-ellipsis">{{data.body}}</div>
       -->
  <!-- 위치 아이콘 + 대구 -->
  <!-- <div class="text-xxs text-muted">
              <ion-icon name="ios-pin-outline"></ion-icon>
              daegu
            </div> 
      </div>
    </ion-col>
    <ion-col text-right col-auto>
      <div class="span text-xs text-muted m-t-xs">{{data.registered_date}}</div>
    </ion-col>
  </ion-row> -->
  <div class="text-center m-t text-1x" *ngIf="pushDataArray==null">밑으로 내려 새로고치기</div>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
        pullingText="Pull to refresh..."
        refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list line (click)="showDetail(data)" *ngFor="let data of pushDataArray">
    <ion-item >
      <ion-thumbnail item-start>
        <img src="{{data.image}}">
      </ion-thumbnail>
      <h2>
        <div>
          제목<strong> {{data.title}}</strong>
        </div>
      </h2>
      <p>{{data.body}}</p>
      <div class="span text-xs text-muted m-t-xs">{{data.registered_date}}</div>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="bInfinite">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
 
</ion-content>