<ion-header>
  <ion-navbar color="primary" no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      스마트 요람
    </ion-title>
    <ion-buttons *ngIf="flagSlideHide" end>
      <button ion-button (click)="showSortModal()">그룹</button>    
      <button ion-button (click)="showSlide()">도움말</button>

    </ion-buttons>
  </ion-navbar>
</ion-header>
<!-- <div style="position:absolute; top:0px; left:0px; width: 500px; height: 500px; background-color:aqua">  -->

<ion-content>
  <ion-slides *ngIf="!flagSlideHide" pager>
    <ion-slide style="overflow-y: scroll;
    display: block;">
      <img src="assets/imgs/slide_start.png" class="slide-image" />
      <h2 class="slide-title">동일교회 전자 요람입니다.</h2>
      <p>성도의 이름을 통해 <br>정보를 열람할 수 있습니다.<br><br> 화면을 오른쪽으로 넘기며 <br>사용방법을 확인해주세요
        <ion-icon color="primary" large name="arrow-forward" (click)="btnSlideNext();"></ion-icon>
      </p>
      <ion-footer>
        <ion-toolbar position="bottom" transparent>
          <ion-buttons left>
            <button (click)="btnSlideRemove();" ion-button color="primary">다시 보지 않기</button>
          </ion-buttons>
          <ion-buttons end>
            <button (click)="btnSlideNext();" ion-button color="primary">다음</button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-slide>

    <ion-slide>
      <img src="assets/imgs/yoram-1.png" class="slide-zoom" imageViewer />
      <ion-footer>
        <ion-toolbar position="bottom" transparent>
          <ion-buttons left>
            <button (click)="btnSlideRemove();" ion-button color="primary">다시 보지 않기</button>
          </ion-buttons>
          <ion-buttons end>
            <button (click)="btnSlideNext();" ion-button color="primary">다음</button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-slide>

    <ion-slide>
      <img src="assets/imgs/yoram-4.png" class="slide-zoom" imageViewer />
      <ion-footer>
        <ion-toolbar position="bottom" transparent>
          <ion-buttons left>
            <button (click)="btnSlideRemove();" ion-button color="primary">다시 보지 않기</button>
          </ion-buttons>
          <ion-buttons end>
            <button (click)="btnSlideNext();" ion-button color="primary">다음</button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-slide>
    <!-- <ion-slide>
      <ion-item id="slide1" class="b-b b-light"  style="border: solid 3px red; border-radius: 40px;">
        <ion-input type="text" placeholder="검색할 이름을 입력하세요"> </ion-input>
        <button ion-button item-end >검색</button>
      </ion-item>

      <ion-footer>
        <h2 class="slide-title">이름 입력</h2>
        <p>성도의 이름을 입력하는 부분입니다.</p>
        <ion-toolbar position="bottom" transparent>
          <ion-buttons left>
            <button (click)="btnSlideRemove();" ion-button color="primary">다시 보지 않기</button>
          </ion-buttons>
          <ion-buttons end>
            <button (click)="btnSlideNext();" ion-button color="primary">다음</button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-slide> -->

<!--     
    <ion-slide>
      <ion-item id="slide2" class="b-b b-light" style="border: solid 3px red; border-radius: 40px;">
        <ion-input type="text" style="color:seagreen " value="박찬양"> </ion-input>
        <button ion-button item-end>검색</button>
      </ion-item>
      <div class="speech-bubble">
        <h2 class=""> 이름 검색</h2>
        <p> 성도의 이름을 입력하는 <br>부분입니다.<br><br> 찾을 성도의 이름을 입력한 후<br> 검색 버튼을 누릅니다.</p>
      </div>
      <ion-footer>

        <ion-toolbar position="bottom" transparent>
          <ion-buttons left>
            <button (click)="btnSlideRemove();" ion-button color="primary">다시 보지 않기</button>
          </ion-buttons>
          <ion-buttons end>
            <button (click)="btnSlideNext();" ion-button color="primary">
              다음
            </button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-slide>

    <ion-slide>
      <ion-item id="search" class="b-b b-light">
        <ion-input type="text" value="박찬양"></ion-input>
        <button ion-button item-end>검색</button>
      </ion-item>

      <ion-row id="slide3" class="wrapper-sm b-b b-light" style="align-items: center; border: solid 3px red; border-radius: 40px;">
        <ion-col class="text-ellipsis-flex">
          <div class="text-ellipsis-flex v-align-middle pull-left">박찬양</div>
        </ion-col>
        <ion-col col-auto>
          <button ion-button color="noti">연락처 요청</button>
        </ion-col>
      </ion-row>
      <div class="speech-bubble">
        <h2 class="slide-title">가입 확인 및 요청</h2>
        <p>동일교회 앱에 가입되어 있다면 <br>이름과 연락처 요청 버튼이 <br>보입니다.<br><br>연락처 요청 버튼을 눌러 요청하면 대상 성도는 알림 메시지를 <br>받습니다.</p>
      </div>
      <ion-footer>
        <ion-toolbar position="bottom" transparent>
          <ion-buttons left>
            <button (click)="btnSlideRemove();" ion-button color="primary">다시 보지 않기</button>
          </ion-buttons>
          <ion-buttons end>
            <button (click)="btnSlideNext();" ion-button color="primary">
              다음
            </button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-slide>

    <ion-slide style="overflow-y: scroll;
    display: block;">
      <img src="assets/imgs/message.jpg" class="slide-image" />
      <div class="speech-bubble">
        <h2 class="slide-title">요청 승인 및 대기</h2>
        <p> 연락처 요청을 받은 성도는 <br>알림 메시지를 받습니다. <br>알림 메시지는 정보를 제공 여부를 묻습니다.<br> 대상 성도가 수락을 누른 <br>후에 정보 열람이 가능합니다.</p>
      </div>
      <ion-footer>
        <ion-toolbar position="bottom" transparent>
          <ion-buttons left>
            <button (click)="btnSlideRemove();" ion-button color="primary">다시 보지 않기</button>
          </ion-buttons>
          <ion-buttons end>
            <button (click)="btnSlideNext();" ion-button color="primary">다음</button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-slide> -->


    <ion-slide>
      <img src="assets/imgs/yoram-5.png" class="slide-zoom" imageViewer />
      <ion-footer>
        <ion-toolbar position="bottom" transparent>
          <ion-buttons left>
            <button (click)="btnSlideRemove();" ion-button color="primary">다시 보지 않기</button>
          </ion-buttons>
          <ion-buttons end>
            <button (click)="btnSlideNext();" ion-button color="primary">다음</button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-slide>
          
    <!-- <ion-slide>
      <ion-item id="search" class="b-b b-light">
        <ion-input type="text" value="박찬양"></ion-input>
        <button ion-button item-end>검색</button>
      </ion-item>

      <ion-row id="slide4" class="wrapper-sm b-b b-light" style="border: solid 3px red; border-radius: 40px;">
        <ion-col>
          <ion-row><b>박찬양</b></ion-row>
          <ion-row class="text-sm text-muted">2지역 6남전도회 집사</ion-row>
          <ion-row class="text-sm text-muted">전화번호 : 01011112222</ion-row>
        </ion-col>
        <ion-col col-auto>
          <button ion-button>통화</button>
          <button ion-button color="sms">문자</button>
        </ion-col>
      </ion-row>

      <div class="speech-bubble">
        <h2 class="slide-title"> 정보 열람</h2>
        <p>요청 받은 성도가 정보 제공 하기를 승인하면 정보가 보입니다.<br> 오른쪽의 버튼을 눌러 전화와 문자를 보낼 수 있습니다.</p>
      </div>

      <ion-footer>
        <ion-toolbar position="bottom" transparent>
          <ion-buttons left>
            <button (click)="btnSlideRemove();" ion-button color="primary">다시 보지 않기</button>
          </ion-buttons>
          <ion-buttons end>
            <button (click)="btnSlideNext();" ion-button color="primary">
              다음
            </button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-slide> -->

    <ion-slide>
      <img src="assets/imgs/slide_end.png" class="slide-image" />
      <h2 class="slide-title"></h2>
      <button ion-button large clear icon-end color="primary" (click)="btnSlideRemove();">
        시작하기
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>

  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
  <div *ngIf="flagSlideHide">
    <ion-item id="search1" class="b-b b-light">
      <ion-input type="text" (keypress)="eventHandler($event.keyCode)" [(ngModel)]="name" placeholder="검색할 이름을 입력하세요">
      </ion-input>
      <button ion-button item-end (click)="searchName()">검색</button>
    </ion-item>

    <!-- <ion-row class="wrapper-sm b-b b-light" *ngIf="!flagSendAllHide" (click)="sendRequestAll()">
      <ion-col class="text-ellipsis-flex">

      </ion-col>
      <ion-col col-auto>
        <button ion-button color="noti">정보 모두 요청</button>
      </ion-col>
    </ion-row> -->

    <ion-row class="wrapper-sm b-b b-light" *ngFor="let user of searchArray" (click)="sendRequest(user)">
      <ion-col class="text-ellipsis-flex" style="display: flex; align-items: center;">
        <b>{{user.name}}</b>
      </ion-col>
      <ion-col col-auto>
        <button ion-button color="noti">연락처 요청</button>
      </ion-col>
    </ion-row>
    <ion-row class="wrapper-sm b-b b-light" *ngIf="searchResult==0">
      <ion-col class="text-ellipsis-flex">
        <h5>해당 성도는 '동일교회' 앱에 가입되어 있지 않습니다. <br>정보를 받기 원하시면 교회 사무실<a href="tel:053-755-6003">(053-755-6003)</a>로 연락
          바랍니다. </h5>
      </ion-col>

    </ion-row>


    <div class="b-light" *ngIf="usersInfo.length" style="padding-top: 20px; text-align: center">
      <h4>나의 요람 리스트</h4>
    </div>
    <!-- <ion-row class="wrapper-sm b-b b-light" *ngFor="let user of usersInfo">
      <ion-col class="text-ellipsis-flex" (click)="goToInfoShow(user)">
        <div class="l-h">
          <div class=""><b>{{user.name}}</b></div>
          <div class="text-sm text-muted text-ellipsis">{{user.place}}/{{user.subgroup}}/{{user.title}}</div>
          <div class="text-sm text-muted text-ellipsis">{{user.birthday}}/{{user.phone}}</div>
        </div>

      </ion-col>
      <ion-col col-auto>
        <button ion-button (click)="phoneCall(user)">통화</button>
        <button ion-button color="sms" (click)="phoneSms(user)">문자</button>
      </ion-col>
    </ion-row> -->
    <ion-list>

      <ion-item-sliding *ngFor="let user of usersInfo" #item>
        <ion-item>
          <ion-row class="b-light">
            <ion-col class="text-ellipsis-flex" (click)="goToInfoShow(user)">
              <div class="l-h">
                <div class=""><b>{{user.name}}</b></div>
                <div class="text-sm text-muted text-ellipsis">{{user.place}} {{user.subgroup}} {{user.title}}</div>
                <div class="text-sm text-muted text-ellipsis">전화번호 : {{user.phone}}</div>
              </div>

            </ion-col>
            <ion-col col-auto>
              <button ion-button (click)="phoneCall(user)">통화</button>
              <button ion-button color="sms" (click)="phoneSms(user)">문자</button>
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item-options class="wrapper-v-sm" >

          <button ion-button color="danger" (click)="deleteUser(user)">
            <ion-icon name="trash"></ion-icon>
            지우기
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </div>
</ion-content>